.pf{
    text-align: left;
}
.pff{
    text-align: right;
}
.imgf {
    width: 50px;
    height:50px;
    float: left;
    margin-left: 50px;
}
.imgff {
    width: 50px;
    height:50px;
    float: right;
    margin-right: 50px;
    margin-bottom:10px; 
}


img {
   width: 50%;
   height:10%;
   margin-top: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;

}
.contact h1{
    background-color: rgb(255, 255, 255);
    color:rgb(158, 27, 27);
    text-align:center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main p{
    text-align:center;
    font-size: 16px;
    background-color: rgb(197, 17, 17);
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    padding: 5px;
}
.main h1{
    text-align:center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(197, 17, 17);
    color: #fff;
}
.main .contact_e h1 {
    text-align:left;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.main .contact_p h1 {
    text-align:left;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(255, 255, 255);
    color: rgb(197, 17, 17);
}


/**************************************************************/
body {margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size:16px;}
.imgHead img{
    width: 300px;
    height:120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul.topnav {
    list-style-type: none;
    margin-left:25%;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
}
ul.topnav li {float: left;
    margin-left: auto;
    margin-right:auto;
    display: block;
}
ul.topnav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 50px 10px 56px;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}

ul.topnav li.right {float: right;}

ul.topnav li a.Home:hover:not(.active) {
    background-color: rgb(235, 101, 101);
}
ul.topnav li a.Promotion:hover:not(.active){
    background-color: rgb(67, 168, 226);
}
ul.topnav li a.Categories:hover:not(.active){
    background-color: rgb(247, 219, 59);
}
ul.topnav li a.About:hover:not(.active){
    background-color: rgb(60, 209, 85);
}
ul.topnav li a.login:hover:not(.active){
    background-color: rgb(224, 149, 243);
}
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  ul.topnav li a{font-size: 14px;}
}
.main {
    padding: 0%;
    margin-top:0%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255); 
    font-family: 'Kanit', sans-serif;

}
/**************************************************************/
html {
    margin: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif; 
}
 * {
    box-sizing: border-box;
}
 h1, h2, h3, h4, h5, h6, a {
    font-family: 'Ubuntu', sans-serif !important;
    margin: 0;
}
.web_header{
    height: 45px;
    background:#212121;
    width: 100%;
    display: block;
}